@font-face {
    font-family: "Circular-Pro-Book";
    src: url("../fonts/lineto-circular-pro-book.eot");
    src: url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-book.woff") format("woff"), url("../fonts/lineto-circular-pro-book.ttf") format("truetype"), url("../fonts/lineto-`circular-pro-book.svg#lineto-circular-pro-book") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro-Book-Italic";
    src: url("../fonts/lineto-circular-pro-bookItalic.eot");
    src: url("../fonts/lineto-circular-pro-bookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bookItalic.woff") format("woff"), url("../fonts/lineto-circular-pro-bookItalic.ttf") format("truetype"), url("../fonts/lineto-`circular-pro-bookItalic.svg#lineto-circular-pro-book") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro-Medium";
    src: url("../fonts/lineto-circular-pro-medium.eot");
    src: url("../fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-medium.woff") format("woff"), url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"), url("../fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro-Bold";
    src: url("../fonts/lineto-circular-pro-bold.eot");
    src: url("../fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bold.woff") format("woff"), url("../fonts/lineto-circular-pro-bold.ttf") format("truetype"), url("../fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Overall style */
/*===============*/

body {
    font-family: Circular-Pro-Book;
    padding: 100px;
    background-color: #CED0CA;
}

h1 {
    color: #282828;
}


.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 18px sans-serif;
    text-anchor: middle;  /* SVG property that determines at what part (start, middle, end) of the element to anchor the text element we'll place */
}